
* {
padding: 0;
margin: 0;    
}

html {
box-sizing: border-box;    
}

.masthead {
background: linear-gradient(#5719E2, #5F04A2);
width: 99%;
height: 600px;
padding: 3%;
}

.logo a {
color: #D9F0F8;
font: normal 900 0.8em "massilia", sans-serif; 
text-decoration: none;  
}

.masthead h1, .global-masthead h1 {
display: block;
width: 200px;
}

nav {
width: 25%;
position: absolute;
top: 60px;
right: 75px;
}

nav ul li {
list-style-type: none;
display: inline;
padding-right: 25px;    
}

nav ul li a {
color: #D9F0F8;
font: normal 200 0.8em "massilia", sans-serif;
text-decoration: none;
}

#job-search {
width: 50%; 
margin-top: 10%;
}

#job-search h2 {
color: #D9F0F8;
font: normal 600 1.5em "massilia", sans-serif;
letter-spacing: 1px;
margin-bottom: 15px;
}

#job-search input {
width: 47%;
height: 50px !important;
border-radius: 10px;
margin-bottom: 10px;
}

#job-search input[type='search'] {   
height: 40px;
padding: 20px;
margin-right: 75px !important;
background: #fafafa url('/static/images/search.svg') center right no-repeat;
background-position: 370px 10px;
}


#job-search input::placeholder {
padding-left: 5px;
color: #D0C2EF;
font: normal 300 1em "menlo", sans-serif;
}

#job-search p {
color: #D9F0F8;
font: normal 400 0.9em "massilia", sans-serif;
}

.middle-section {
width: 95%;
padding: 5%;
background: #4719E2;
}

.middle-section h2 {
text-align: center; 
color: #D9F0F8;
font: normal 600 1.8em "massilia", sans-serif; 
letter-spacing: 2px;  
margin-bottom: 15px;
}

.middle-section h4 {
text-align: center; 
background: #D9F0F8;
padding: 8px 10px;
color: #5F04A2;
font: normal 600 0.9em "massilia", sans-serif; 
display: block;
width: 35%;
}

.middle-section p:first-of-type {
color: #D9F0F8;
font: normal 100 0.8em "massilia", sans-serif;
line-height: 2em;
text-decoration: underline;
}

.middle-section p:last-of-type {
color: #D9F0F8;
font: normal 100 0.8em "massilia", sans-serif;
line-height: 2em;
}

.middle-section p {
width: 55%;
margin: 0 auto;
}

#middle-flex-container {
display: flex;
flex-direction: row;
margin: 75px auto 0 auto;
width: 75%;
}

#middle-flex-container img {
max-width: 55%;
height: auto;
margin: 0 auto;
display: block;
}

#training {
width: 40%;
}

#training h4 {
position: relative;
top: -75px;
left: 245px;
}

#assessment {
width: 40%;
}

#assessment h4 {
position: relative;
top: -75px;
left: 245px;
}

#research-career {
width: 40%;
}

#research-career h4 {
position: relative;
top: -100px;
left: 245px;
}


.bottom-section {
width: 98%;
height: auto;
padding: 3%;    
}

#bottom-flex-container {
display: flex;
flex-direction: row;
justify-content: space-between;   
width: 100%;
}

.left-column {
width: 75%;
}

.left-column h2 {
color: #5F04A2;
font: normal 600 1.8em "massilia", sans-serif; 
letter-spacing: 2px;  
margin-bottom: 15px;
}


.app-button {
border: 5px solid #5F04A2;
margin-bottom: 25px;
width: 25%;
height: 50px;
border-radius: 10px;
cursor: pointer;
}

.app-button img {
width: 34px;
height: 34px;    
margin: 5px 0 0 15px;
}

.app-button span {
display: block;
width: 65%;
text-align: center;
color: #5F04A2;
font: normal 600 0.8em "massilia", sans-serif;   
line-height: 1.5em !important;
margin: -27px 0 0 75px;
}

.right-column {
width: 25%;
}
.right-column img{
max-width: 100%;
height: auto;    
}

footer {
width: 100%;
height: 50px;
background: #5F04A2;    
}

footer p {
padding-top: 20px;
text-align: center;
color: #D9F0F8;
font: normal 300 0.8em "massilia", sans-serif;     
}


.global-masthead {
background: linear-gradient(#5719E2, #5F04A2);
width: 99%;
height: 150px;
padding: 3%;
}

.global-masthead input {
width: 30%;
height: 50px !important;
border-radius: 10px;
position: relative;
top: 55%;
left: 30%;
border: none;
display: block;
}

.global-masthead input[type='search'] {   
height: 40px;
padding: 20px;
margin-right: 75px !important;
background: #fafafa url('/static/images/search.svg') center right no-repeat;
background-position: 500px 10px;
}


.global-masthead input::placeholder {
padding-left: 5px;
color: #D0C2EF;
font: normal 300 1em "menlo", sans-serif;
}



#overlay {
width: 100%;
height: 100%;
background: rgba(0,0,0,0.7);
position: fixed;
top: 0;
left: 0;   
z-index: 99999 !important;
}

.close {
color: #5F04A2;
font: normal 100 2em "menlo", sans-serif; 
position: relative;
top: -35px;
left: 300px;
text-decoration: none;
}


#signin-popup {
 background: #fafafa;
 width: 15%;
 height: 350px;
 padding: 3%;
 margin: 15% auto 0 auto;   
}

#login-popup {
background: #fafafa;
width: 15%;
height: 270px;
padding: 3%;
margin: 15% auto 0 auto;   
}

.popup h2 {
color: #5F04A2;
font: normal 600 1.2em "massilia", sans-serif; 
letter-spacing: 2px;  
margin-bottom: 10px;
}

.popup span {
color: #312F2F;
font: normal 300 0.8em "massilia", sans-serif;   
margin-top: 15px;
display: block;
text-align: center;
}

input[type='text']::placeholder,
input[type='email']::placeholder,
input[type='password']::placeholder,
input[type='tel']::placeholder
{
padding-left: 5px;
}    

textarea::placeholder {
padding: 10px 0 0 5px;
}   


.popup input[type='text'],
.popup input[type='email'],
.popup input[type='password']
{
width: 100%;
height: 30px;
border: 1px solid #ccc;
margin-bottom: 20px;
}


.popup input[type='submit'] {
border: 1px solid #5F04A2;
width: 100%;
height: 35px;
text-align: center;
background: #D9F0F8;
color: #5F04A2;
font: normal 300 0.9em "massilia", sans-serif; 
margin: 5px 0 10px 0;  
}

/* Listing */

.listings-container {
margin: 80px auto 0 auto;
width: 50%;
}

.listings-container div {
margin: 75px 0;
border-bottom: 1px solid rgba(112,112,122,0.2);
padding: 0 0 25px 0;
}

.listings-container h3 {
color: #5F04A2;
font: normal 600 1.2em "massilia", sans-serif; 
letter-spacing: 2px;  
margin-bottom: 5px;
}


.listings-container p:first-of-type {
color: #312F2F;
font: normal 600 1em "massilia", sans-serif;   
text-decoration: underline;  
letter-spacing: 1px;  
margin-bottom: 5px;
}

.listings-container p {
color: #312F2F;
font: normal 300 0.8em "massilia", sans-serif;     
}

.listings-container ul {
width: 25%;
float: right;
clear: both;
margin-top: -25px;
}

.listings-container ul li a img {
width: 24px;
height: 24px;
display: block;
padding-top: 8px;
}

.listings-container ul li {
list-style-type: none;
display: inline-block;
padding-right: 50px;
height: 24px;
}

.apply-link {
border: 1px solid #5F04A2;
display: block;
width: 150px;
height: 35px;
text-align: center;
line-height: 2.8em !important;
background: #D9F0F8;
color: #5F04A2;
font: normal 300 0.8em "massilia", sans-serif; 
text-decoration: none; 
margin: -50px auto 75px auto;
}

.listings-top-main-content {
margin-top: -30px !important;    
}

.listings-container h2 {
color: #5F04A2;
font: normal 600 1.2em "massilia", sans-serif; 
letter-spacing: 2px;  
margin: 10px 0 20px 0;
}

.listings-container h2:last-of-type {
margin: 70px 0 20px 0;
}

.listings-container p {
color: #312F2F;
font: normal 300 0.8em "massilia", sans-serif;   
margin-top: 15px;
}

.listings-container h4 {
color: #312F2F;
font: normal 300 1em "massilia", sans-serif;   
margin-top: 15px;
}


/* Apply */

.view-listing a{
border: 1px solid #5F04A2;
display: inline-block;
width: 90px;
height: 25px;
text-align: center;
line-height: 1.8em !important;
background: #D9F0F8;
color: #5F04A2;
font: normal 300 0.8em "massilia", sans-serif; 
text-decoration: none; 
}

#upload {
border: 1px solid #5F04A2;
background: #D9F0F8;
color: #5719E2;
font: normal 300 1em "massilia", sans-serif; 
width: 87%;
text-align: center;
cursor: pointer;
padding: 20px 15px;
margin: 25px 0;
display: block;
}

input[type='file'] {
display: none; 
}

#application-container {

}

#application-container input[type='text'],
#application-container input[type='email'],
#application-container input[type='tel']
{
width: 90%;
height: 40px;   
margin-bottom: 25px; 
border: 1px solid #ccc;
}

#application-container textarea {
width: 90%;
height: 120px; 
border: 1px solid #ccc;
}

#application-container input[type='submit'] {
border: 1px solid #5F04A2;
background: transparent;
color: #5719E2;
font: normal 300 1em "massilia", sans-serif; 
width: 90%;
height: 60px;
margin: 0 auto 75px auto;
text-align: center;
cursor: pointer;
}

.listing-container {
margin: 80px auto 0 auto;
width: 50%;
}

.listing-container h2 {
color: #5F04A2;
font: normal 600 1.2em "massilia", sans-serif; 
letter-spacing: 2px;  
margin: 10px 0 20px 0;
}
    