<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Taskr - Get job in your area of expertise</title>
        <link rel="stylesheet" href="https://use.typekit.net/ggh3axe.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/main.js')}}"></script>
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>